.docs-component-category-list{
    display: flex;
    flex-wrap: wrap;
    padding: 20px;
}

.docs-component-category-list-item{
    text-decoration: none;
    display: inline-block;
    margin: 20px;
    vertical-align: top;
    width: 250px;
}